<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <!--This settings is in KiloByte .. Here 1GigaByte-->
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <connectionStrings>
    <add name="DBCon" connectionString="Server=FURIOUSNOOB; Database=CountryCityManagementDB; Integrated Security=True"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--This settings is in Bytes-->
        <requestLimits maxAllowedContentLength="1073741824">
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>