body {
    background-image: url('../images/city_insert.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

#cityNameTextBox {
    position: relative;
    left: 200px;
}

#noOfDwellersTextBox {
    position: relative;
    left: 86px;
}

#locationTextBox {
    position: relative;
    left: 107px;
}

#weatherTextBox {
    position: relative;
    left: 101px;
}

#cityCountryDropDownList {
    position: relative;
    left: 82px;
}
.gridviewClass {
    margin: 0 0 0 0;
    height: auto;
    width: auto;
}