body {
    background-image: url("../../FrontEnd/images/city_insert.jpg");
    padding-left: 0px;
    padding-bottom: 517px;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0% 0%;
    background-attachment: fixed;
}
