#scrollable {
    max-height: 600px;
    overflow-y: scroll;
}
body {
    background-image: url('../images/country_view.jpg');
  
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}