* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/view_city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

#searchPanel {
    margin: 0 auto;
}

#searchButton {
    border-color: #003399;
    border-style: solid;
    font-size: medium;
    font-weight: bold;
    height: 36px;
    clear: both;
    float: right;
    
    width: 140px;
    position: relative;
    top: -28px;
}

#homeButton {
    border-color: #003399;
    border-style: solid;
    font-size: medium;
    font-weight: bold;
    height: 36px;
    clear: both;
    float: right;
    width: 140px;
    position: relative;
    top: -28px;
    left: 0px;
}

#searchTextBox {
    height: 25px;
    width: 210px;
}

#countryDropDownList {
    height: 25px;
    width: 210px;
}

#serachTextBox {
    position: relative;
    left: 50px;
    height: 20px;
}

#countryDropDownList {
    position: relative;
    left: 55px;
    width: 200px;
}

#cityNameRadioButton {
    position: relative;
    left: -10px;
}

#countryRadioButton {
    position: relative;
    left: -25px;
}

.gridviewClass {
    margin: 0 0 0 0;
    width: 960px;
    height: auto;
}
