* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/country_2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
}

#Label2 {
    clear: both;
    float: left;
}

#Label3 {
    position: relative;
    right: -50px;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

#searchButton {
    clear: both;
    float: right;
    height: 32px;
    border: solid 1px;
    margin: 0 auto;
    position: relative;
    top: -35px;
    left: -10px;
}

#homeButton {
    clear: both;
    float: right;
    height: 33px;
    width: 134px;
    border: solid 1px;
    margin: 0 auto;
    position: relative;
    left: -10px;
}

.nameInput {
    position: relative;
    top: 10px;
    left: -100px;
    margin: 0 auto;
    width: 155px;
}

#Label2 {
    margin: 5px;
}

#Label3 {
    margin: 10px;
    clear: both;
    float: left;
}

.gridviewClass {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: auto;
}

#searchPanel {
    width: 590px;
    height: 155px;
    margin-left: 200px;
    margin-right: 200px;
}
