USE [master]
GO
/****** Object:  Database [CountryCityManagementDB]    Script Date: 16-Jan-16 2:10:31 AM ******/
CREATE DATABASE [CountryCityManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryCityManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryCityManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryCityManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CountryCityManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryCityManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryCityManagementDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 16-Jan-16 2:10:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](200) NULL,
	[AboutCity] [varbinary](max) NULL,
	[Dwellers] [int] NULL,
	[Location] [varchar](max) NULL,
	[Weather] [varchar](max) NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 16-Jan-16 2:10:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](150) NULL,
	[AboutCountry] [varbinary](max) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[GetCityForGridview]    Script Date: 16-Jan-16 2:10:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetCityForGridview]
as
SELECT City.CityName, City.Dwellers,Country.CountryName FROM City INNER JOIN Country 
ON City.CountryID = Country.CountryID


GO
/****** Object:  View [dbo].[GetCityInfo]    Script Date: 16-Jan-16 2:10:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GetCityInfo]
as
SELECT  Cit.CityName [Name], Cit.AboutCity [About], Cit.Dwellers [No. of dwellers], Cit.Location [Location],
Cit.Weather [Weather], Con.CountryName [Country], Con.AboutCountry [About Country] 
From 
Country as Con INNER JOIN City as Cit 
ON
Con.CountryID = Cit.CountryID




GO
/****** Object:  View [dbo].[GetCountryInfo]    Script Date: 16-Jan-16 2:10:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE view [dbo].[GetCountryInfo]
as
select con.CountryName as [Name], con.AboutCountry as [About], ISNULL(count(cit.CityName),0) as [No. of cities], 
ISNULL(sum(cit.Dwellers),0) as [No. of city dwellers]
FROM Country con LEFT OUTER JOIN City cit
ON
cit.CountryID=con.CountryID
group by con.CountryName,con.AboutCountry 


GO
SET IDENTITY_INSERT [dbo].[City] ON 

SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Index [UQ_City_CityName]    Script Date: 16-Jan-16 2:10:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_City_CityName] ON [dbo].[City]
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Country_CountryName]    Script Date: 16-Jan-16 2:10:31 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Country_CountryName] ON [dbo].[Country]
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
USE [master]
GO
